<!--ホーム画面-->
<div class="container-fluid">
  <div class="bg-white my-5 p-5">
    <h3>ホーム</h3>
    <div><% render '/info' %></div>
    <div>
      <% @favorite_posts.each do |post| %>
        <%= link_to post.main_code, user_posts_show_path %>
        <%= post.title %>
        <% render '/favorites/form' %>
      <% end %>
    </div>
    <div>
      <% @user_post.each do |post| %>
        <%= link_to post.main_code, user_posts_show_path %>
        <%= post.title %>
      <% end %>
    </div>
  </div>
</div>