<!--管理者用言語一覧検索用-->
<div>
  <h3>言語一覧</h3>
  <% Genre.genre_names_i18n.keys.map.each do |genre_name| %>
    <table>
      <tr>
        <%= link_to I18n.t("enums.genre.genre_name.#{genre_name}"), admins_genres_show_path(ganre_name) %>
      </tr>
    </table>
  <% end %>
</div>