<!--言語毎のコード一覧-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 rounded bg-white mx-auto p-5">
      <h2><%= @genre.genre_name %></h2>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <!--一覧テンプレート-->
          <%= render '/users/posts/info', post: post %>
        <% end %>
      <% else %>
        <p>該当する記事はありません。</p>
      <% end %>
    </div>
  </div>
</div>