$('#<%= @content.id %>').html('<%= form_tag("/posts/#{@post.id}/comments/#{comment.id}") do %>
  <div class="form-wrp form-for-index">
    <div class="form newpost">
      <textarea name="content">
        <%= @comment.comment_body %>
      </textarea>
      <input type="submit" value="保存">
    </div>
  </div>
<% end %>')