<div class="container-fluid">
  <!--<div>-->
  <!--  <#% @comments.each do |comment| %>-->
  <!--    <%#= link_to comment.comment_body, admins_comments_show_path %>-->
  <!--    <%#= link_to "削除", admins_comments_destroy_path %>-->
  <!--  <%# end %>-->
  <!--</div>-->
  <!--<div>-->
  <!--  <%# @users.each do |user| %>-->
  <!--    <%#= link_to user.name, admins_users_show_path %>-->
  <!--  <%# end %>-->
  <!--</div>-->

  <!--<div>-->
  <!--  <%# @posts.each do |post| %>-->
  <!--    <%#= link_to post.main_code, admins_posts_show_path %>-->
  <!--    <%#= post.title %>-->
  <!--  <%# end %>-->
  <!--</div>-->

  <!--<div>-->
  <!--  <%# @genres.each do |genre| %>-->
  <!--    <%#= link_to genre.name, admins_genres_index_path %>-->
  <!--  <%# end %>-->
  <!--</div>-->
</div>